<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Form</title>
</head>
<body>
    <h1>Product Form</h1>
    <form action="#" th:action="@{/addProduct}" th:object="${product}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required><br>
        
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}"></textarea><br>
        
        <label for="price">Price:</label>
        <input type="number" id="price" th:field="*{price}" required><br>
        
        <label for="stock">Stock:</label>
        <input type="number" id="stock" th:field="*{stock}" required><br>
        
        <label for="category">Category:</label>
        <select id="category" th:field="*{category}">
            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.name}"></option>
        </select><br>
        
        <button type="submit">Save</button>
    </form>
    <table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Stock</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.name}"></td>
				<td colspan="4"></td>
			</tr>
			<tr th:each="product : ${products}">
				<td th:text="${product.description}"></td>
				<td colspan="4"></td>
			</tr>
			<tr th:each="product : ${products}">
				<td th:text="${product.price}"></td>
				<td colspan="4"></td>
			</tr>
			<tr th:each="product : ${products}">
				<td th:text="${product.stock}"></td>
				<td colspan="4"></td>
			</tr>
			<tr th:each="product : ${products}">
				<td th:text="${product.categoryName}"></td>
				<td colspan="4"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
