<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product Form</title>
</head>
<body>
	<h1>Product Form</h1>
	<form action="#" th:action="@{/addProduct}" th:object="${product}"
		method="post">
		<label for="name">Name:</label> <input type="text" id="name"
			th:field="*{name}" required placeholder="Placeholder"><br>

		<label for="description">Description:</label>
		<textarea id="description" th:field="*{description}"
			placeholder="Placeholder"></textarea>
		<br> <label for="price">Price:</label> <input type="number"
			placeholder=1 id="price" th:field="*{price}" required><br>

		<label for="stock">Stock:</label> <input type="number" placeholder=1
			id="stock" th:field="*{stock}" required><br>
		<label for="category">Category:</label> 
			<select name="category" th:field="*{category}">
				<option th:each="category : ${categories}" th:value="${category.id}"
					th:text="${category.name}"></option>
			</select>
		<br>

		<button type="submit">Save</button>
	</form>
	<table>
		<thead>
			<tr>
				<th colspan="5">Product Details</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Stock</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.name}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.stock}"></td>
				<td th:text="${product.category.name}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
