<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Review Form</title>
</head>
<body>
	<h1>Review Form</h1>
	<form action="#" th:action="@{/addReview}" th:object="${review}"
		method="post">
		<label for="rating">Rating:</label> <input type="number" id="rating"
			th:field="*{rating}" required min="1" max="5"><br> <label
			for="comment">Comment:</label>
		<textarea id="comment" th:field="*{comment}" rows="4" cols="50"></textarea>
		<br> <label for="product">Product:</label> <select name="evaluatedProduct"
			th:field="*{evaluatedProduct}">
			<option th:each="product : ${products}" th:value="${product.id}"
				th:text="${product.name}"></option>
		</select> <br>
		<button type="submit">Save</button>
	</form>
	<!--  
	<table>
		<thead>
			<tr>
				<th>Rating</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="4"></td>
			</tr>
			<tr th:each="review : ${reviews}">
				<td th:text="${review.rating}"></td>
				<td th:text="${review.comment}"></td>
			</tr>
		</tbody>
	</table>
	-->
</body>
</html>
