<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">>

<head>
	<link th:href="@{/Styles/style.css}" rel="stylesheet" />
	<title>Cart</title>
</head>

<body>
	<section layout:fragment="content">
			<table>
		<thead th:if="${!cartProducts.isEmpty()}">
			<tr>
				<th>Name</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${!cartProducts.isEmpty()}" th:each="product:${cartProducts.keySet()}">
				<td th:text="${product.name}"></td>
			</tr>
			<tr th:unless="${!cartProducts.isEmpty()}"><h1>Cosul este gol!</h1></tr>
		</tbody>
	</table>
	</section>
</body>