<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/Styles/style.css}" rel="stylesheet" />
	<title th:text="'Category:'+${category.name}"></title>
</head>

<body>
	<section layout:fragment="content">
		<div class="products" th:each="product : ${products}">
			<ul>
				<br>
				<p th:text="${product.name}"></p>
				<li><a th:href="@{/products/{id}(id=${product.id})}"> <img id="productImage"
							th:src="@{'/Images/Thumbnails/' + ${product.image}}+'.jpg'"></img><a /></li>
			</ul>
		</div>
	</section>
</body>

</html>