<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">>>

<head>
	<meta charset="UTF-8">
	<title>Magazin Online</title>
</head>
<section layout:fragment="content">
	<h1>Bun venit în magazinul nostru online!</h1>

	<p>Avem o selecție largă de produse la prețuri competitive.</p>

	<p>Pentru a face o achiziție, vă rugăm să vă autentificați sau să
		vă creați un cont nou.</p>

	<a href="/login">Autentificare</a>
	<br>

	<a href="/register">Creati cont</a>
	<br>
	<a href="/addProduct">Adaugare produs</a><br>
	<a href="/addCategory">Adaugare categorie</a><br>
	<a href="/addReview">Adaugare recenzie</a><br>
	<a href="/products">Vizualizare produse</a>

	<p>Vă mulțumim că ați ales magazinul nostru online!</p>
	<a href="/about">About</a>

</section>
<section layout:fragment="search"></section>
<section layout:fragment="filters"></section>
</html>