<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link th:href="@{/Styles/style.css}" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary sticky-top">
		<h1 style="font-family:'Merienda';font-size: 22px" th:text="${title}"></h1>
		<imgadiv class="collapse navbar-collapse">
			<ul class="toolbar">
				<li th:each="category : ${categories}">
					<form th:action="@{/category/{id}(id=${category.id})}" method="get">
						<button type="submit" th:text="${category.name}"></button>
					</form>
				</li>
			</ul>
			<a class="navbar-brand" th:href="@{/}"> <img id="logo" src="/Images/Logo.jpg" alt="PageLogo"></img></a>
			</div>
	</nav>
	<section layout:fragment="search">
		<div class="center">
			<p>Sti deja ce cauti? Cauta aici!</p>
			<form action="/search" method="get">
				<input type="text" name="keyword">
				<button type="submit" th:text="Cauta"></button>
			</form>
			<br>
		</div>
	</section>
	<section layout:fragment="content">
		<p>This is filled by the content template.</p>
	</section>
	<section layout:fragment="filters">
		<div class="filter_list">
			<form action="/filter" method="get">
				<ul>
					<label>Filter by stock:</label>
					<li><input type="radio" name="stockFilter" value="all" checked> All</li>
					<li><input type="radio" name="stockFilter" value="inStock"> In Stock</li>
					<li><input type="radio" name="stockFilter" value="outOfStock"> Out Of Stock</li>
				</ul>
				<ul>
					<label>Filter by price:</label>
					<li><input type="radio" name="priceFilter" value="all" checked> All</li>
					<li><input type="radio" name="priceFilter" value="<500"> Less than 500</li>
					<li><input type="radio" name="priceFilter" value="<2000"> Less than 2000</li>
					<li><input type="radio" name="priceFilter" value=">2000"> Over 2000</li>
				</ul>
				<button type="submit">Apply Filters</button>
			</form>
		</div>
	</section>
</body>

</html>