<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">>>

<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<section layout:fragment="content">
	<form action="#" th:action="@{/login}" th:object="${user}" method="post">
		<fieldset>
			<input type="submit" id="submitButton" th:value="Save">
			<input placeholder="Enter email" required type="text" th:field="*{email}" />
			<input placeholder="Enter password" required type="password" th:field="*{password}" />
		</fieldset>
	</form>

	<div th:if="${errorMessage}" class="error-message">
		<p th:text="${errorMessage}"></p>
	</div>
</section>
<section layout:fragment="search"></section>
<section layout:fragment="filters"></section>