<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<link th:href="@{/Styles/style.css}" rel="stylesheet" />
	<title>Product Form</title>
</head>

<body>
	<section layout:fragment="content">
		<div>
			<div class="products" th:if="${!products.isEmpty()}" th:each="product : ${products}">
				<ul>
					<br>
					<p th:text="${product.name}"></p>
					<li><a th:href="@{/products/{id}(id=${product.id})}"> <img id="productImage"
								th:src="@{'/Images/Thumbnails/' + ${product.image}}+'.jpg'"></img><a /></li>
				</ul>
			</div>
			<div class="center" style="top:250px" th:unless="${!products.isEmpty()}">
				<h1>Nu s-a gasit niciun element!</h1>
			</div>
		</div>
	</section>
</body>