<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">>>
<head>
<meta charset="UTF-8">
<title>About</title>
</head>
<section layout:fragment="content">
	<form action="#" th:action="@{/register}" th:object="${user}"
		method="post">
		<fieldset>
			<input type="submit" id="submitButton" th:value="Submit"> <input
				type="reset" id="resetButton" name="reset" th:value="Clear" /> <input
				placeholder="Enter name" required type="text" th:field="*{name}" />
			<input placeholder="Enter email" required type="text"
				th:field="*{email}" /> <input placeholder="Enter password" required
				type="text" th:field="*{password}" /> <input name="confirm_password"
				placeholder="Enter password again" required type="text" />
		</fieldset>
	</form>
	<div th:if="${errorMessage}" class="error-message">
		<p th:text="${errorMessage}"></p>
	</div>
</section>