<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">>>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/Styles/style.css}" rel="stylesheet" />
	<title th:text="'Welcome, ' +${user.name}+'!'"></title>
</head>

<section layout:fragment="content">
	<h1 th:text="'Bine ai venit, ' +${user.name}+' la magazinul nostru online'"></h1>
	<h4>Cele mai populare produse</h4>
	<table>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.name}"></td>
				<td th:text="${product.category.name}"></td>
				<td th:text="${product.averageRating}"></td>
			</tr>
		</tbody>
	</table>
</section>
<section layout:fragment="search"></section>
<section layout:fragment="filters"></section>
</html>