<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'Welcome, ' +${user.name}+'!'"></title>
</head>
<body>
	<h1
		th:text="'Bine ai venit, ' +${user.name}+' la magazinul nostru online'"></h1>
	<h1>Cele mai populare produse</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Average Rating</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.name}"></td>
				<td th:text="${product.category.name}"></td>
				<td th:text="${product.averageRating}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>