.toolbar {
	position:sticky;
	left:450px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #6c757d;
	overflow: hidden;
}
.toolbar li {
	float: left;
}

.toolbar li form {
	color: #6c757d;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.toolbar li form button {
	border: 0;
	border-style: none;
	background-color: #6c757d;
}

.toolbar li form:hover {
	background-color: palevioletred;
}

.toolbar li form button:hover {
	background-color: palevioletred;
}

#logo {
	position: absolute;
	top: 0px;
	right: 0px;
	border: no;
	border-radius: 4px;
	padding: 5px;
	width: 160px;
	padding: 0;
	margin: 0;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
}

.product-item {
	margin-right: 10px;
	margin-bottom: 10px;
}

ul.images {
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	width: 900px;
	overflow-x: auto;
}

ul.images li {
	display: inline;
	height: 5px;
	width: 5px;
}

.reviewItem {
	list-style-type: none;
	line-height: 0;
}

.center {
	position: sticky;
	width: 20%;
	left: 700px;
}

.hide {
	display: none;
}

.filter_list {
	position: absolute;
	top: 300px;
}

.filter_list form ul {
	list-style-type: none;
	padding: 0;
}

.products {
	display: inline-block;
	padding-left: 10%;
	position: sticky;
}

.products ul {
	list-style-type: none;
}

.products p {
	text-align: center;
}